.about-services {
    background-color: color(sage-light);
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-services__inner {
    @include flex-grid-row;
}

.about-services__title {
    @include flex-grid-column(12);
    @include secondary-title-text;
    color: color(gray-dark);
    text-align: center;
    text-transform: uppercase;
}

.about-services__services {
    @include flex-grid-column(12);
    margin-top: 30px;

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
        margin-top: 60px;
    }
}

.about-services__services-inner {
    display: flex;
    flex-direction: column;

    @include breakpoint(large) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-services__service {
    text-align: center;

    & + & {
        margin-top: 80px;

        @include breakpoint(large) {
            margin-top: 0;
        }
    }

    @include breakpoint(large) {
        width: 25%;
    }
}

.about-services__service-icon {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.about-services__service-icon-container {
    overflow: hidden;
}

.about-services__service-title {
    @include tertiary-title-text;
    margin-top: 25px;
    text-transform: uppercase;
    color: color(gray-dark);
}

.about-services__service-copy {
    @include body-primary-text;
    margin-top: 25px;
    color: color(gray-dark);
}

.about-services__service-link {
    @include link;
    margin-top: 25px;
}

.about-serivces__callout {
    @include flex-grid-column(12);
    margin-top: 60px;

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
    }
}

.about-serivces__callout-inner {
    display: flex;
    flex-direction: column;
    background-color: color(white);
    padding: 35px 25px;

    @include breakpoint(large) {
        flex-direction: row;
        justify-content: space-around;
        padding-right: 100px;
        padding-left: 100px;
    }
}
.about-services__callout-text {
    //
}

.about-services__callout-title {
    @include tertiary-title-text;
    color: color(gray-dark);
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(large) {
        text-align: left;
    }
}

.about-services__callout-copy {
    @include body-secondary-text;
    margin-top: 25px;
    text-align: center;
    color: color(gray-dark);

    @include breakpoint(large) {
        margin-top: 5px;
        text-align: left;
    }
}

.about-services__callout-cta-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.about-services__callout-cta {
    @include cta(color(gray-dark), color(white));
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;

    @include breakpoint(large) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0;
    }
}
