.about-about {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: color(peach);

    @include breakpoint(large) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.about-about__inner {
    @include flex-grid-row;
}

.about-about__main-text {
    @include flex-grid-column(8);
    @include grid-column-offset(2);
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(large) {
        @include flex-grid-size(4);
        @include grid-column-offset(1);
        text-align: left;
    }
}

.about-about__subhead {
    @include subhead-text;
    text-transform: uppercase;
    color: color(gray-dark);

    @include breakpoint(large) {
        margin-top: 115px;
    }
}

.about-about__title {
    @include primary-title-text;
    color: color(forest-green);

    @include breakpoint(large) {
        margin-top: 10px;
    }
}

.about-about__secondary-text {
    @include flex-grid-column(12);
    margin-top: 60px;

    @include breakpoint(large) {
        display: none;
    }
}

.about-about__detail-title {
    @include tertiary-title-text;
    color: color(gray-dark);
    text-transform: uppercase;

    @include breakpoint(large) {
        margin-top: 200px;
    }
}

.about-about__detail-title--desktop {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.about-about__detail-copy {
    @include body-secondary-text;
    margin-top: 10px;
    color: color(gray-dark);
}

.about-about__detail-copy--desktop {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.about-about__image-container {
    @include flex-grid-column(12);
    position: relative;

    @include breakpoint(large) {
        @include flex-grid-size(5);
        @include grid-column-offset(1);
    }
}

.about-about__decoration-container {
    position: absolute;
    z-index: 1;
    bottom: -80px;
    left: calc(100% - 170px);
    width: 300px;
    height: 225px;
    opacity: 0.75;

    @include breakpoint(large) {
        width: 400px;
        height: 300px;
        bottom: -100px;
        left: calc(100% - 120px);
    }
}

.about-about__decoration {
    width: 100%;
    height: 100%;
    background-image: url('#{$dist-path}/svgs/about-about-art.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.about-about__image {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    transform: translate(0, 50px);
}
