.bold-message {
    @include flex-grid-row;
    padding-top: 110px;
    padding-bottom: 40px;

    @include breakpoint(large) {
        padding-top: 160px;
        padding-bottom: 60px;
    }
}

.bold-message__text {
    @include flex-grid-column(12);
    @include primary-title-text;
    color: color(gray-dark);
    text-align: center;

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(3);
    }
}
