.booker-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;

    > [role='dialog'] {
        @include flex-grid-row;
        height: 100%;
        pointer-events: none;
    }

    .ModalContainer__overlay {
        background-color: rgba(color(forest-green), 0.66);
    }
}

.booker-modal__inner {
    @include flex-grid-column(12);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
    }
}

.booker-modal__content {
    position: relative;
    background-color: color(white);
    height: 80%;
    pointer-events: auto;
}

.booker-modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    stroke: color(forest-green);
}

.booker-modal__iframe-container {
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;

    iframe {
        width: 100%;
        height: 100%;
    }
}
