.booking-plugin {
    @include flex-grid-row;
    margin-top: 30px;
    margin-bottom: 30px;

    @include breakpoint(large) {
        margin-bottom: 100px;
    }
}

.booking-plugin__iframe-container {
    @include flex-grid-column(12);

    iframe {
        width: 100%;
        height: 530px;

        @include breakpoint(large) {
            height: 900px;
        }
    }
}
