.book-session-large {
    position: relative;
    background-color: color(forest-green);
    color: color(white);
}

.book-session-large__outer {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}

.book-session-large__decoration {
    position: absolute;
    width: 330px;
    height: 165px;
    opacity: 0.1;
}

.book-session-large__decoration--left {
    top: 10px;
    left: -50px;
    transform: rotate(90deg);
    transform-origin: 25% 50%;

    @include breakpoint(large) {
        top: 50px;
    }
}

.book-session-large__decoration--right {
    left: calc(100% - 100px);
    bottom: 0;

    @include breakpoint(large) {
        left: calc(100% - 250px);
        bottom: 10px;
    }
}

.book-session-large__decoration-inner {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('#{$dist-path}/svgs/semi-circle-white.svg');
}

.book-session-large__inner {
    @include flex-grid-row;
    position: relative;
    text-align: center;
}

.book-session-large__title {
    @include flex-grid-column(12);
    @include primary-title-text;

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(3);
    }
}

.book-session-large__copy {
    @include flex-grid-column(12);
    @include tertiary-title-text;
    margin-top: 25px;
    text-transform: uppercase;

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(3);
    }
}

.book-session-large__cta-container {
    @include flex-grid-column(12);
    margin-top: 70px;

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(3);
        margin-top: 25px;
    }
}

.book-session-large__cta {
    @include cta(color(white), color(forest-green));
}
