.book-session {
    @include flex-grid-row;
}

.book-session__inner {
    @include flex-grid-column(12);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px color(gray-light) solid;
    text-align: center;

    @include breakpoint(large) {
        flex-direction: row;
        justify-content: center;
    }
}

.book-session__text {
    @include tertiary-title-text;
    display: block;
    color: color(gray-dark);
    text-align: center;
    text-transform: uppercase;

    @include breakpoint(large) {
        display: inline-block;
        margin-right: 150px;
    }
}

.book-session__button {
    @include cta(color(gray-dark), color(white));
    margin-top: 20px;

    @include breakpoint(large) {
        margin-top: 0;
    }
}
