.contact {
    @include flex-grid-row;
    margin-top: 30px;
    margin-bottom: 70px;

    @include breakpoint(large) {
        margin-top: 100px;
    }
}

.contact__inner {
    @include flex-grid-column(12);
    text-align: center;

    @include breakpoint(large) {
        @include flex-grid-size(8);
        @include grid-column-offset(2);
        text-align: center;
    }
}

.contact__title {
    @include secondary-title-text;
    text-transform: uppercase;
    color: color(gray-dark);
}

.contact__email {
    @include quote-text;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 20px;
    color: color(gray);

    &::after {
        @include transition('transform');
        position: absolute;
        top: 100%;
        left: 50%;
        display: block;
        width: 100%;
        height: 1px;
        background-color: color(gray-dark);
        content: '';
        transform: translate(-50%, 0) scale(1, 1);
    }

    &:hover,
    &:focus {
        &::after {
            transform: translate(-50%, 0) scale(0, 1);
        }
    }
}
