.contact-us {
    @include section-padding;
    @include flex-grid-row;
    padding-top: 40px;
    padding-bottom: 60px;

    @include breakpoint(large) {
        padding-top: 80px;
        padding-bottom: 120px;
    }
}

.contact-us__title {
    @include flex-grid-column(12);
    @include primary-title-text;
    margin-bottom: 40px;
    color: color(forest-green);

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
    }
}

.contact-us__image-container {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(1);
    }
}

.contact-us__image-inner {
    position: relative;
}

.contact-us__decoration-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: -55px;
    width: 100px;
    height: 200px;
    opacity: 0.5;
    transform: translate(0, -50%);

    @include breakpoint(medium) {
        left: -70px;
        width: 120px;
        height: 240px;
    }

    @include breakpoint(large) {
        left: -90px;
        width: 160px;
        height: 320px;
    }
}

.contact-us__decoration {
    width: 100%;
    height: 100%;
    background-image: url(#{$dist-path}/svgs/semi-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-us__image {
    width: 100%;
    height: 250px;
    object-fit: cover;

    @include breakpoint(medium) {
        height: 360px;
    }

    @include breakpoint(large) {
        height: 485px;
    }
}

.contact-us__main {
    @include flex-grid-column(12);
    margin-top: 40px;

    @include breakpoint(large) {
        @include flex-grid-size(3);
        @include grid-column-offset(1);
        margin-top: 0;
    }
}

.contact-us__phone-container,
.contact-us__email-container,
.contact-us__location-container,
.contact-us__extra-container {
    margin-bottom: 35px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contact-us__extra-container {
    padding-top: 35px;
    border-top: color(gray-secondary-menu) solid 2px;
}

.contact-us__phone-heading,
.contact-us__email-heading,
.contact-us__location-heading,
.contact-us__extra-heading {
    @include subhead-text;
    text-transform: uppercase;
    color: color(gray-dark);
}

.contact-us__phone,
.contact-us__email,
.contact-us__location,
.contact-us__extra-title {
    @include body-secondary-text;
    margin-top: 5px;
    color: color(gray-dark);
}

.contact-us__extra-copy {
    @include body-primary-text;
    margin-top: 5px;
    color: color(gray-dark);
}

.contact-us__location-link,
.contact-us__extra-link {
    @include link;
    margin-top: 10px;
}
