$_masonry-css-column-gap: $global-margin;

.events {
    @include flex-grid-row;
    padding-bottom: 30px;
}

.events__inner {
    @include flex-grid-column(12);
}

.events__container {
    width: 100%;
}

.event {
    width: 100%;
    margin-bottom: 30px;

    @include breakpoint(medium) {
        width: calc(50% - 15px);
    }

    @include breakpoint(large) {
        width: calc((100% / 3) - 20px);
    }
}

.event__label {
    @include subhead-text;
    margin-bottom: 5px;
    color: color(gray-dark);
    text-transform: uppercase;
}

.event__inner {
    padding: 40px;
    border-color: color(forest-green);
    border-width: 1px;
    border-style: solid;
}

.event__date-location {
    display: flex;
    margin-bottom: 22px;
}

.event__date {
    @include subhead-text;
    color: color(gray-dark);
    text-transform: uppercase;
}

.event__location {
    @include subhead-text;
    color: color(gray-dark);
    text-transform: uppercase;

    .event__date + & {
        margin-left: 30px;
    }
}

.event__image {
    width: 100%;
    height: 215px;
    margin-bottom: 22px;
    object-fit: cover;
}

.event__heading {
    @include tertiary-title-text;
    margin-bottom: 22px;
    color: color(gray-dark);
    text-transform: uppercase;
}

.event__copy {
    @include body-primary-text;
    margin-bottom: 22px;
    color: color(gray-dark);
}

.event__cta {
    @include cta(color(sage), color(peach), true);
}
