.faqs {
    @include flex-grid-row;
    padding-top: 80px;
    padding-bottom: 60px;

    @include breakpoint(large) {
        padding-bottom: 90px;
    }
}

.faqs__faq {
    //
}

.faqs__faq {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(10);
        @include grid-column-offset(1);
    }
}

.faqs__faq-button {
    position: relative;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: color(gray-light);
    text-align: left;

    @include breakpoint(large) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.faqs__faq-button-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 12px;
    height: 12px;
    transform: translate(0, -50%);
    content: '';
}

.faqs__faq-button-icon--plus {
    display: block;

    [aria-expanded='true'] & {
        display: none;
    }
}

.faqs__faq-button-icon--minus {
    display: none;

    [aria-expanded='true'] & {
        display: block;
    }
}

.faqs__faq-title {
    @include accordion-title-text;
    padding-right: 30px;
    color: color(gray-dark);
    text-transform: uppercase;

    @include breakpoint(large) {
        padding-right: 0;
    }
}

.faqs__faq-copy {
    @include accordion-copy-text;
    color: color(gray-dark);
}

.faqs__faq-copy-inner {
    padding-top: 20px;
    padding-bottom: 20px;

    @included breakpoint(large) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
