.featured-links {
    @include flex-grid-row;
    margin-bottom: 30px;
}

.featured-links__inner {
    @include flex-grid-column(12);
}

.featured-links__content {
    display: flex;
    flex-direction: column;
    background-color: color(forest-green);

    @include breakpoint(large) {
        flex-direction: row;
    }
}

.featured-links__group {
    padding: 90px 60px;
    text-align: center;

    @include breakpoint(large) {
        width: 50%;
    }

    &:first-of-type {
        border-width: 0 0 1px 0;
        border-color: color(white);
        border-style: solid;

        @include breakpoint(large) {
            border-width: 0 1px 0 0;
        }
    }
}

.featured-links__cta-title {
    @include primary-title-text;
    color: color(white);
}

.featured-links__cta {
    @include cta(color(white), color(forest-green));
    margin-top: 40px;
}
