.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: color(gray-light);
}

.footer__inner {
    @include flex-grid-row;
}

.footer__logo-container {
    @include flex-grid-column(12);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;

    @include breakpoint(large) {
        @include flex-grid-size(3);
        padding-bottom: 0;
    }
}

.footer__logo {
    width: 60px;
    height: 60px;
    object-fit: contain;

    @include breakpoint(large) {
        width: 140px;
        height: 140px;
    }
}

.footer__links-container {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(3);
    }
}

.footer__links {
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(large) {
        height: 100%;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            left: -(map-get($grid-column-gutter, large));
            width: 1px;
            height: 100%;
        }
    }
}

.footer__link-item {
    width: 100%;
    text-align: center;

    & + & {
        margin-top: 10px;
    }

    @include breakpoint(large) {
        text-align: left;
    }
}

.footer__link {
    @include link($has-underline: false);
}

.footer__column-4 {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(3);
        order: 4;
    }
}

.footer__column-4-inner {
    position: relative;

    @include breakpoint(large) {
        height: 100%;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            left: -(map-get($grid-column-gutter, large));
            width: 1px;
            height: 100%;
        }
    }
}

.footer__book-appointment {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;

    @include breakpoint(large) {
        text-align: left;
        padding-bottom: 20px;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            width: calc(100% - #{map-get($grid-column-gutter, large)});
        }
    }
}

.footer__book-appointment-title {
    @include footer-label-text;
    color: color(sage);
}

.footer__book-appointment-button {
    @include cta(color(sage), color(gray-light));
    margin-top: 10px;
    text-align: center;
}

.footer__external-links {
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(large) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.footer__external-link-item {
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }
}

.footer__external-link {
    display: inline-flex;
    align-items: center;
}

.footer__external-link-text {
    @include subhead-text;
    @include transition(color, time(fast));
    padding-right: 10px;
    color: color(sage);
    text-transform: uppercase;

    .footer__external-link:hover &,
    .footer__external-link:focus & {
        color: color(forest-green);
    }
}

.footer__external-link-arrow {
    @include transition(fill, time(fast));
    display: inline-block;
    width: 20px;
    height: 11px;
    fill: color(sage);

    .footer__external-link:hover &,
    .footer__external-link:focus & {
        fill: color(forest-green);
    }
}

.footer__made-by {
    display: none;

    @include breakpoint(large) {
        position: relative;
        display: block;
        padding-top: 30px;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - #{map-get($grid-column-gutter, large)});
            height: 1px;
            background-color: color(sage);
            opacity: 0.3;
            content: '';
        }
    }
}

.footer__made-by-link {
    @include subhead-text;
    text-transform: uppercase;
    color: color(gray);
}

.footer__column-3 {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(3);
    }
}

.footer__column-3-inner {
    position: relative;

    @include breakpoint(large) {
        height: 100%;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            left: -(map-get($grid-column-gutter, large));
            width: 1px;
            height: 100%;
        }
    }
}

.footer__email-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            width: calc(100% - #{map-get($grid-column-gutter, large)});
        }
    }
}

.footer__email-title {
    @include footer-label-text;
    color: color(sage);
}

.footer__email-link {
    @include link($has-underline: false);
}

.footer__mailing-list-container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include breakpoint(large) {
        text-align: left;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(sage);
        opacity: 0.3;
        content: '';

        @include breakpoint(large) {
            width: calc(100% - #{map-get($grid-column-gutter, large)});
        }
    }
}

.footer__mailing-list-title {
    @include footer-label-text;
    color: color(sage);
}

.footer__mailing-list-input {
    @include subhead-text;
    width: calc(100% - 40px);
    height: 25px;
    padding-left: 8px;
    margin-top: 10px;
    border-width: 0;
    color: color(sage);
    text-align: center;
    text-transform: uppercase;

    &::placeholder {
        color: color(sage);
    }

    @include breakpoint(large) {
        text-align: left;
    }
}

.footer__social {
    display: flex;
    justify-content: center;
    padding-top: 30px;

    @include breakpoint(large) {
        justify-content: flex-start;
    }
}

.footer__social-item {
    & + & {
        margin-left: 20px;
    }
}

.footer__social-link {
    //
}

.footer__social-icon {
    @include transition(fill);
    display: inline-block;
    height: 30px;
    fill: color(sage);

    .footer__social-link:hover &,
    .footer__social-link:focus & {
        fill: color(forest-green);
    }
}
