.header {
    position: relative;
    height: 80px;
    background-color: color(sage);
}

.header__inner {
    @include breakpoint(large) {
        display: flex;
        justify-content: space-around;
        height: 100%;
    }
}

.header__home-link {
    display: inline-block;

    @include breakpoint(large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        height: 100%;
    }
}

.header__home-logo {
    position: absolute;
    top: 30px;
    left: 50%;
    height: 20px;
    transform: translate(-50%, 0);

    @include breakpoint(large) {
        position: static;
        flex-shrink: 0;
        transform: translate(0, 0);
    }
}

.header__hamburger-button {
    position: absolute;
    width: 32px;
    height: 12px;
    top: 34px;
    right: 25px;
    border-color: color(white);
    border-width: 3px 0;
    border-style: solid;

    @include breakpoint(large) {
        display: none;
    }
}

.header__mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    background-color: color(gray-mobile-menu);

    @include breakpoint(large) {
        display: none;
    }

    > [role='dialog'] {
        position: relative;
        width: 80%;
        height: 100%;
        max-height: 100%;
        padding: 30px 15px 30px 25px;
        margin-left: auto;
        background-color: color(sage);
        overflow-y: auto;
    }
}

.header__mobile-menu-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header__mobile-menu-close-image {
    width: 20px;
    height: 20px;
    stroke: color(white);
}

.header__mobile-logo {
    height: 20px;
    object-fit: contain;
}

.header__nav {
    //
}

.header__nav-items {
    margin-top: 30px;
    margin-bottom: 40px;
}

.header__nav-item {
    display: flex;
    flex-wrap: wrap;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: color(white);

    &:last-of-type {
        border-bottom-width: 1px;
    }
}

.header__nav-link {
    @include subhead-text;
    display: block;
    width: calc(100% - 100px);
    padding-top: 30px;
    padding-bottom: 30px;
    color: color(white);
    text-transform: uppercase;
}

.header__nav-link-button {
    width: 100px;
    height: 76px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 84px;
}

.header__nav-link-button-image {
    @include transition('transform', time('fast'));
    width: 100%;
    height: 26px;
    stroke: color(white);

    .header__nav-link-button[aria-expanded='true'] > & {
        transform: rotate(90deg);
    }
}

.header__nav-link--children {
    //
}

.header__nav-sublist-container {
    width: 100%;
}

.header__nav-sublist {
    padding-bottom: 30px;
}

.header__nav-sublist-item {
    //
}

.header__nav-sublist-link {
    @include subhead-text;
    display: inline-block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    color: color(white);
    text-transform: uppercase;
}

.header__mobile-book-cta {
    @include cta(color(white), color(sage));
    width: 100%;
    text-align: center;
}

.header__social {
    display: flex;
    justify-content: space-around;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-top: 55px;
}

.header__social-item {
    //
}

.header__social-link {
    display: inline-block;
}

.header__social-icon {
    @include transition(fill);
    height: 20px;
    width: 20px;
    object-fit: contain;
    fill: color(beige-light);

    .header__social-link:hover &,
    .header__social-link:focus {
        fill: color(white);
    }
}

.header__desktop-nav {
    display: none;

    @include breakpoint(large) {
        display: block;
    }
}

.header__desktop-nav-links {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.header__desktop-nav-item {
    display: flex;
    align-items: center;

    &:last-of-type {
        margin-left: 15px;
    }
}

.header__desktop-nav-link {
    display: inline-block;
    padding: 30px 35px;
}

.header__desktop-nav-link-text {
    @include subhead-text;
    position: relative;
    display: inline-block;
    color: color(white);
    text-transform: uppercase;

    &::after {
        @include transition(transform, time(fast));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(white);
        content: '';
        transform: scale(0, 1);
    }

    .current-menu-item &,
    .current-menu-parent &,
    .header__desktop-nav-link:hover &,
    .header__desktop-nav-link:focus & {
        &::after {
            transform: scale(1, 1);
        }
    }
}

.header__desktop-secondary-links-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: none;
    width: 100%;
    height: 50px;
    background-color: color(gray-secondary-menu);

    &:hover,
    .header__desktop-nav-link:hover + &,
    .header__desktop-nav-link:focus + & {
        display: block;
    }
}

.header__desktop-secondary-links-inner {
    height: 100%;
}

.header__desktop-secondary-links {
    @include breakpoint(large) {
        display: flex;
        justify-content: center;
        height: 100%;
    }
}

.header__desktop-secondary-item {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header__desktop-secondary-link {
    @include subhead-text;
    position: relative;
    display: inline-block;
    color: color(gray-secondary-menu-text);
    text-transform: uppercase;

    &::after {
        @include transition(transform, time(fast));
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: color(gray-secondary-menu-text);
        content: '';
        transform: scale(0, 1);
    }

    .current-menu-item > &,
    .current-menu-parent > &,
    &:hover,
    &:focus {
        &::after {
            transform: scale(1, 1);
        }
    }
}

.header__desktop-book-cta {
    @include cta(color(white), color(sage));
    text-align: center;
}
