.home-about {
    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;

    &::before {
        @include breakpoint(large) {
            position: absolute;
            top: 0;
            left: 30px;
            width: calc(100% - 60px);
            height: 100%;
            background-color: color(peach);
            content: '';
        }
    }
}

.home-about__decoration {
    position: absolute;
    top: 20px;
    right: -15px;
    width: 210px;
    height: 420px;
    opacity: 0.25;
    object-fit: contain;

    @include breakpoint(large) {
        top: 30px;
        width: 360px;
        height: 720px;
    }

    @include breakpoint(xlarge) {
        right: -25px;
    }
}

.home-about__outer {
    @include flex-grid-row;
}

.home-about__inner {
    @include breakpoint(large) {
        @include flex-grid-column(12);
    }
}

.home-about__inner-inner {
    @include flex-grid-row;

    @include breakpoint(large) {
        padding-top: 170px;
        padding-bottom: 140px;
        background-color: color(peach);
    }
}

.home-about__images-container {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include grid-column-offset(1);
        @include flex-grid-size(5);
        order: 2;
    }
}

.home-about__images {
    background-color: color(peach);
}

.home-about__images-inner {
    max-width: 400px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(large) {
        padding-top: 0;
        max-width: none;
    }
}

.home-about__primary-image-container {
    position: relative;
    z-index: 1;
    width: 90%;
    height: 0;
    padding-bottom: 115%;
}

.home-about__primary-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include breakpoint(large) {
    }
}

.home-about__secondary-image-container {
    position: relative;
    z-index: 1;
    width: 67%;
    height: 0;
    padding-bottom: 45%;
    margin-top: -90px;
    margin-left: auto;
    transform: translate(40px, 0);

    @include breakpoint(large) {
        margin-top: -100px;
        transform: translate(0, 0);
    }
}

.home-about__secondary-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: auto;
    object-fit: cover;
}

.home-about__text {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include grid-column-offset(1);
        @include flex-grid-size(4);
    }
}

.home-about__text-inner {
    padding: 50px 15px;
    background-color: color(peach);

    @include breakpoint(large) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.home-about__subhead {
    @include subhead-text;
    position: relative;
    color: color(gray-dark);
    text-transform: uppercase;
}

.home-about__title {
    @include primary-title-text;
    color: color(gray-dark);

    .home-about__subhead + & {
        margin-top: 5px;
    }
}

.home-about__copy {
    @include body-primary-text;
    position: relative;
    color: color(gray-dark);

    .home-about__title + & {
        margin-top: 15px;
    }
}

.home-about__squiggle {
    position: relative;
    margin-top: 20px;
    width: 50px;
    height: 7px;
}

.home-about__list {
    @include body-primary-text;
    position: relative;
    margin-top: 20px;
}

.home-about__list-item {
    color: color(gray-dark);

    & + & {
        margin-top: 10px;
    }
}

.home-about__cta {
    @include link;
    margin-top: 20px;
}
