.home-hero {
    position: relative;
    height: 600px;
    background-color: color(gray-light);
    overflow: hidden;

    @include breakpoint(large) {
        height: 740px;
    }
}

.home-hero__image-container {
    @include adhere;
}

.home-hero__image-container-inner {
    height: 100%;
}

.home-hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-hero__copy {
    @include flex-grid-row;
    @include flex-grid-column(12);
    @include primary-title-text;
    display: block;
    padding-top: 50px;
    color: color(forest-green);
    text-align: center;

    @include breakpoint(large) {
        padding-top: 100px;
    }
}

.home-hero__circles-container {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 270px;
    opacity: 0.75;
}

.home-hero__circles {
    width: 100%;
    height: 100%;
    background-image: url('#{$dist-path}/svgs/hero-image-circles.svg');
    background-size: 700px;
    background-position: 0 100%;
    background-repeat: no-repeat;

    @include breakpoint(medium) {
        background-size: 1024px;
        background-position: 50% 100%;
    }

    @include breakpoint(large) {
        background-size: 1470px;
        background-repeat: repeat-x;
    }
}
