.home-services {
    //
}

.home-services__title-container {
    @include flex-grid-row;
}

.home-services__title {
    @include flex-grid-column(12);
    @include primary-title-text;
    color: color(gray-dark);

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
    }
}

.home-service {
    @include flex-grid-row;
    margin-top: 30px;

    @include breakpoint(large) {
        & + & {
            margin-top: 90px;
        }
    }
}

.home-service__image-container {
    @include flex-grid-column(12);
    position: relative;

    @include breakpoint(large) {
        @include flex-grid-size(5);
        @include grid-column-offset(1);

        .home-service:nth-of-type(even) & {
            order: 2;
        }
    }
}

.home-service__decoration-container {
    position: relative;
    z-index: 1;
}

.home-service__decoration {
    position: absolute;
    object-fit: contain;
}

.home-service__decoration--1 {
    top: 20px;
    left: -40px;
    width: 100px;
    height: 200px;
    opacity: 0.5;

    @include breakpoint(large) {
        top: 60px;
        left: -90px;
        width: 160px;
        height: 320px;
    }
}

.home-service__decoration--2 {
    top: -60px;
    right: -100px;
    width: 230px;
    height: 230px;
    opacity: 0.25;

    @include breakpoint(large) {
        top: -80px;
        right: -110px;
        width: 350px;
        height: 350px;
    }
}

.home-service__decoration--3 {
    top: -30px;
    left: 90px;
    width: 100px;
    height: 200px;
    opacity: 0.5;
    transform: rotate(-90deg);
    transform-origin: 0 50%;

    @include breakpoint(large) {
        top: -40px;
        width: 160px;
        height: 320px;
    }
}

.home-service__decoration--4 {
    bottom: -30px;
    left: -30px;
    width: 110px;
    height: 115px;
    opacity: 0.5;

    @include breakpoint(medium) {
        width: 165px;
        height: 175px;
    }

    @include breakpoint(large) {
        bottom: -15px;
        left: -30px;
        width: 220px;
        height: 230px;
    }
}

.home-service__image-inner {
    overflow: hidden;
}

.home-service__image {
    width: 100%;
    height: 365px;
    object-fit: cover;

    @include breakpoint(large) {
        height: 630px;
    }
}

.home-service__image-caption {
    display: none;

    @include breakpoint(large) {
        @include subhead-text;
        display: inline-block;
        margin-top: 25px;
        width: 100%;
        max-width: 375px;
        color: color(gray-dark);
        text-transform: uppercase;
    }
}

.home-service__content {
    @include flex-grid-column(12);
    position: relative;

    @include breakpoint(medium) {
        @include flex-grid-size(8);
        @include grid-column-offset(2);
    }

    @include breakpoint(large) {
        @include flex-grid-size(4);
        @include grid-column-offset(1);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.home-service__icon-container {
    margin-top: -45px;
    overflow: hidden;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.home-service__icon {
    height: 80px;
    object-fit: contain;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(large) {
        margin-left: 0;
        object-position: 0 50%;
        opacity: 0.75;
    }
}

.home-service__title {
    @include tertiary-title-text;
    color: color(gray-dark);
    text-transform: uppercase;
    margin-top: 20px;
}

.home-service__copy {
    @include body-primary-text;
    color: color(gray-dark);
    margin-top: 13px;
}

.home-service__link-container {
    margin-top: 10px;

    @include breakpoint(large) {
        margin-top: 20px;
    }
}

.home-service__link {
    @include link;
}

.home-service__callout {
    margin-top: 20px;
    margin-bottom: 100px;

    @include breakpoint(medium) {
        max-width: 370px;
        margin: 50px auto 100px;
    }

    @include breakpoint(large) {
        margin-bottom: 0;
    }
}

.home-service__callout-inner {
    padding: 10px;
    background-color: color(peach);

    @include breakpoint(medium) {
        display: flex;
    }
}

.home-service__callout-image {
    width: 100%;
    height: 300px;
    object-fit: cover;

    @include breakpoint(medium) {
        display: inline-block;
        width: 130px;
        height: 130px;
        margin-right: 10px;
    }
}

.home-service__callout-content {
    margin-top: 10px;

    @include breakpoint(medium) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 0;
    }
}

.home-service__callout-copy {
    @include subhead-text;
    padding-right: 20px;
    padding-left: 20px;
    color: color(gray-dark);
    text-transform: uppercase;
    text-align: center;

    @include breakpoint(medium) {
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }

    .home-service__callout-image + & {
        margin-top: 10px;
    }
}

.home-service__callout-cta {
    @include cta(color(sage), color(peach), true);

    .home-service__callout-copy + & {
        margin-top: 5px;
    }
}
