.interior-hero {
    position: relative;
    height: 600px;

    @include breakpoint(large) {
        height: 640px;
    }
}

.interior-hero__image {
    @include adhere;
    object-fit: cover;
}

.interior-hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.interior-hero__title {
    @include primary-title-text;
    color: color(white);
}

.interior-hero__copy {
    @include tertiary-title-text;
    text-transform: uppercase;
    margin-top: 5px;
    color: color(white);
}

.interior-hero__icon-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 75px;
    height: 75px;
    transform: translate(-50%, 50%);
    overflow: hidden;
}

.interior-hero__icon {
    width: 100%;
    height: 100%;
    will-change: opacity, transform;
}
