.italic-message {
    @include flex-grid-row;
    padding-top: 80px;
    padding-bottom: 80px;
}

.italic-message__subhead {
    @include flex-grid-column(12);
    @include subhead-text;
    color: color(gray-dark);
    text-transform: uppercase;

    @include breakpoint(large) {
        @include flex-grid-size(8);
        @include grid-column-offset(2);
    }
}

.italic-message__copy {
    @include flex-grid-column(12);
    @include quote-text;
    color: color(gray);
    text-align: center;

    .italic-message__subhead + & {
        margin-top: 20px;
        text-align: left;
    }

    @include breakpoint(large) {
        @include flex-grid-size(8);
        @include grid-column-offset(2);
    }
}
