.pricing {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: color(beige-light);

    @include breakpoint(large) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.pricing__title-container {
    @include flex-grid-row;
}

.pricing__title {
    @include flex-grid-column(12);
    @include primary-title-text;
    color: color(gray-dark);
    text-align: center;
}

.pricing__row {
    @include flex-grid-row;
    padding-bottom: 60px;

    &:last-of-type {
        padding-bottom: 0;
    }

    .pricing__title-container + & {
        margin-top: 30px;

        @include breakpoint(large) {
            margin-top: 5px;
        }
    }
}

.pricing__block-divider-container {
    @include breakpoint(large) {
        @include flex-grid-column(12);
        margin-bottom: 60px;
    }
}

.pricing__block-divider {
    display: none;

    @include breakpoint(large) {
        display: block;
        height: 2px;
        width: 100%;
        background-color: color(gray-light);
    }
}

.pricing__row-title {
    @include grid-column(12);
    @include secondary-title-text;
    color: color(gray-dark);
    text-transform: uppercase;
    text-align: center;
}

.pricing__blocks {
    @include flex-grid-row;
    // @include flex-grid-row('nest');
    margin-top: 25px;

    @include breakpoint(large) {
        margin-top: 60px;
    }
}

.pricing__block {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(4);
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            left: calc(100% - 15px);
            width: 30px;
            height: 100%;
            background-color: color(snow);
            content: '';
        }

        &:last-of-type::after {
            width: 0;
        }
    }
}

.pricing__block-inner {
    padding: 30px 30px 0 30px;
    background-color: color(snow);
    color: color(gray-dark);
    text-align: center;

    .pricing__block:last-of-type & {
        padding-bottom: 35px;
    }

    @include breakpoint(large) {
        height: 100%;
        padding-top: 65px;
        padding-bottom: 65px;
    }
}

.pricing__block-title {
    @include tertiary-title-text;
    text-transform: uppercase;
}

.pricing__block-price-subhead {
    @include subhead-text;
    margin-top: 15px;
    color: color(black);
    opacity: 0.4;
    text-transform: uppercase;
}

.pricing__block-price {
    @include body-secondary-text;
    margin-top: 5px;
}

.pricing__block-copy {
    @include body-primary-text;
    margin-top: 10px;
}
