.promotion {
    @include flex-grid-row;
    padding-top: 25px;
    padding-bottom: 25px;

    @include breakpoint(large) {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.promotion__image-container {
    @include flex-grid-column(12);
    position: relative;

    @include breakpoint(large) {
        @include flex-grid-size(5);
        @include grid-column-offset(1);
    }
}

.promotion__decoration-container {
    position: absolute;
    z-index: 1;
    top: 80px;
    left: -55px;
    width: 100px;
    height: 200px;
    opacity: 0.5;

    @include breakpoint(large) {
        top: 140px;
        left: -90px;
        width: 160px;
        height: 320px;
    }
}

.promotion__decoration {
    width: 100%;
    height: 100%;
    background-image: url(#{$dist-path}/svgs/semi-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.promotion__image {
    height: 375px;
    width: 100%;
    object-fit: cover;

    @include breakpoint(large) {
        height: 630px;
        object-fit: cover;
    }
}

.promotion__text {
    @include flex-grid-column(12);
    margin-top: 40px;

    @include breakpoint(large) {
        @include flex-grid-size(4);
        @include grid-column-offset(1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
}

.promotion__logo-container {
    overflow: hidden;
}

.promotion__logo {
    display: inline-block;
    height: 25px;
    object-fit: contain;
    object-position: 0 50%;
}

.promotion__subhead {
    @include tertiary-title-text;
    margin-top: 10px;
    color: color(gray-dark);
    text-transform: uppercase;
}

.promotion__copy {
    @include body-secondary-text;
    margin-top: 25px;
    color: color(gray-dark);
}

.promotion__link-container {
    margin-top: 25px;
}

.promotion__link {
    @include link;
}
