.qualifications {
    @include flex-grid-row;
    margin-top: 30px;
    margin-bottom: 50px;
}

.qualifications__primary {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(6);
        @include grid-column-offset(1);
    }
}

.qualifications__primary-title,
.qualifications__secondary-title {
    @include tertiary-title-text;
    margin-bottom: 20px;
    color: color(gray-dark);
    text-transform: uppercase;

    @include breakpoint(large) {
        margin-bottom: 30px;
    }
}

.qualifications__primary-list {
    @include breakpoint(large) {
        column-count: 2;
    }
}

.qualifications__primary-item,
.qualifications__secondary-qualifications {
    @include body-primary-text;
    color: color(gray-dark);
}

.qualifications__primary-item {
    margin-bottom: 20px;
}

.qualifications__secondary {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(3);
        @include grid-column-offset(1);
    }
}

.qualifications__secondary-inner {
    @include breakpoint(large) {
        position: relative;
        height: 100%;
    }

    &::before {
        display: block;
        width: 100%;
        height: 1px;
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: color(gray-light);
        content: '';

        @include breakpoint(large) {
            position: absolute;
            top: 0;
            left: -50px;
            width: 1px;
            height: calc(100% - 50px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.qualifications__secondary-qualifications {
    //
}
