.service-details {
    padding-top: 15px;
    padding-bottom: 15px;

    .italic-message + & {
        margin-top: -60px;
    }
}

.service-detail {
    @include flex-grid-row;
    padding-top: 20px;
    padding-bottom: 20px;

    @include breakpoint(large) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

.service-detail--pir,
.service-detail--pil {
    .service-detail__image-container {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-size(6);
            @include grid-column-offset(3);
        }

        @include breakpoint(large) {
            @include flex-grid-size(5);
            @include grid-column-offset(1);
        }
    }

    .service-detail__image-inner {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 110%;
        overflow: hidden;
    }

    .service-detail__image {
        @include adhere;
        object-fit: cover;
    }

    .service-detail__image-caption {
        @include subhead-text;
        display: none;
        max-width: 320px;
        margin-top: 20px;
        color: color(gray-dark);
        text-transform: uppercase;

        @include breakpoint(large) {
            display: block;
        }
    }

    .service-detail__text {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-size(10);
            @include grid-column-offset(1);
        }

        @include breakpoint(large) {
            @include flex-grid-size(4);
            @include grid-column-offset(1);
        }
    }
}

.service-detail--pir {
    .service-detail__image-container {
        position: relative;
        margin-top: 50px;
        @include breakpoint(large) {
            order: 2;
        }
    }

    .service-detail__decorative-image-container {
        position: absolute;
        top: -65px;
        right: 0;
        z-index: 1;
        width: 190px;
        height: 190px;
        opacity: 0.25;

        @include breakpoint(large) {
            top: -80px;
            right: -80px;
            width: 300px;
            height: 300px;
        }
    }

    .service-detail__decorative-image {
        width: 100%;
        height: 100%;
    }
}

.service-detail--pil {
    .service-detail__image-container {
        position: relative;
        margin-top: 50px;
    }

    .service-detail__decorative-image-container {
        position: absolute;
        top: 0;
        left: 100px;
        z-index: 1;
        width: 190px;
        height: 190px;
        opacity: 0.5;
        transform: rotate(-90deg);
        transform-origin: 0 50%;

        @include breakpoint(large) {
            top: 35px;
            left: 75px;
            width: 300px;
            height: 300px;
        }
    }

    .service-detail__decorative-image {
        width: 100%;
        height: 100%;
    }
}

.service-detail--dil {
    .service-detail__images {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-size(8);
            @include grid-column-offset(2);
        }

        @include breakpoint(large) {
            @include flex-grid-size(6);
            @include grid-column-offset(0);
            display: flex;
            flex-direction: column;
        }
    }

    .service-detail__portrait-image-container {
        position: relative;
        width: 50%;
        height: 0;
        margin-left: auto;
        padding-bottom: 60%;

        @include breakpoint(large) {
            order: 2;
            margin-top: 40px;
        }
    }

    .service-detail__portrait-image {
        @include adhere;
        object-fit: cover;
    }

    .service-detail__landscape-image-container {
        position: relative;
        width: 75%;
        height: 0;
        padding-bottom: 50%;
        margin-top: -35%;

        @include breakpoint(large) {
            margin-top: 0;
        }
    }

    .service-detail__landscape-image {
        @include adhere;
        object-fit: cover;
    }

    .service-detail__text {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-size(10);
            @include grid-column-offset(1);
        }

        @include breakpoint(large) {
            @include flex-grid-size(4);
            @include grid-column-offset(1);
        }
    }
}

.service-detail--dir {
    .service-detail__portrait-image-container {
        @include flex-grid-column(12);
        position: relative;
        z-index: 1;

        @include breakpoint(medium) {
            @include flex-grid-size(6);
            @include grid-column-offset(3);
        }

        @include breakpoint(large) {
            @include flex-grid-size(3);
            @include grid-column-offset(0);
            order: 2;
        }
    }

    .service-detail__portrait-image-inner {
        position: relative;
        width: 50%;
        height: 0;
        padding-bottom: 75%;
        margin-left: auto;
        transform: translate(25px, 0);

        @include breakpoint(large) {
            width: 100%;
            padding-bottom: 170%;
            transform: translate(0, 0);
        }
    }

    .service-detail__decorative-image-container {
        position: absolute;
        top: 5%;
        right: calc(100% - 20px);
        z-index: 1;
        width: 80px;
        height: 160px;
        opacity: 0.5;

        @include breakpoint(large) {
            top: 10%;
            width: 140px;
            height: 280px;
        }
    }

    .service-detail__decorative-image {
        width: 100%;
        height: 100%;
    }

    .service-detail__portrait-image {
        @include adhere;
        object-fit: cover;

        @include breakpoint(large) {
            width: calc(100% + 15px);
            max-width: calc(100% + 15px);
        }
    }

    .service-detail__left {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-size(10);
            @include grid-column-offset(1);
        }

        @include breakpoint(large) {
            @include flex-grid-size(6);
            @include grid-column-offset(2);
            display: flex;
            flex-direction: column;
        }
    }

    .service-detail__landscape-image-container {
        width: 65%;
        margin-top: -20%;

        @include breakpoint(medium) {
            width: 50%;
            margin-top: -10%;
            margin-left: 18%;
        }

        @include breakpoint(large) {
            width: 83%;
            margin-top: 160px;
            margin-left: auto;
        }
    }

    .service-detail__landscape-image-inner {
        position: relative;
        height: 0;
        padding-bottom: 50%;
        overflow: hidden;

        @include breakpoint(large) {
            padding-bottom: 60%;
        }
    }

    .service-detail__landscape-image {
        @include adhere;
        object-fit: cover;
    }

    .service-detail__landscape-image-caption {
        @include subhead-text;
        display: none;
        margin-top: 20px;
        color: color(gray-dark);
        text-transform: uppercase;
        max-width: 320px;

        @include breakpoint(large) {
            display: block;
        }
    }

    .service-detail__text {
        color: color(gray-dark);

        @include breakpoint(large) {
            order: -1;
            width: 66%;
            padding-top: 90px;
        }
    }
}

.service-detail__text {
    color: color(gray-dark);

    @include breakpoint(large) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.service-detail__title {
    @include tertiary-title-text;
    margin-top: 40px;
    text-transform: uppercase;

    @include breakpoint(large) {
        margin-top: 0;
    }
}

.service-detail__italic-copy {
    @include body-secondary-text;
    margin-top: 20px;
}

.service-detail__copy {
    @include body-primary-text;
    margin-top: 20px;
}
