.testimonials {
    @include flex-grid-row;
    margin-bottom: 30px;
}

.testimonials__outer {
    @include flex-grid-column(12);
}

.testimonials__inner {
    position: relative;

    .testimonials--linen & {
        background-color: color(linen);
        color: color(gray-dark);
    }

    .testimonials--green & {
        background-color: color(forest-green);
        color: color(white);
    }
}

.testimonials__content {
    max-width: 440px;
    margin-right: auto;
    margin-left: auto;
    padding: 55px 15px;

    @include breakpoint(large) {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

.testimonials__title {
    @include secondary-title-text;
    text-transform: uppercase;
    text-align: center;
}

.testimonials__testimonials {
    margin-top: 45px;
}

.testimonials__quote-text {
    @include body-secondary-text;
    text-align: center;
}

.testimonials__quotee {
    @include subhead-text;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.testimonials__indicators {
    margin-top: 60px;
    text-align: center;
}

.testimonials__indicator {
    width: 10px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;

    .testimonials--linen & {
        border-color: color(gray-dark);

        &.active {
            background-color: color(gray-dark);
        }
    }

    .testimonials--green & {
        border-color: color(white);

        &.active {
            background-color: color(white);
        }
    }
}

.testimonials__previous,
.testimonials__next {
    position: absolute;
    display: none;
    top: 50%;
    width: 25px;
    height: 35px;
    transform: translate(0, -50%);

    @include breakpoint(large) {
        display: block;
    }
}

.testimonials__previous {
    left: 100px;
}

.testimonials__next {
    right: 100px;
}

.testimonials__previous-image,
.testimonials__next-image {
    opacity: 0.5;

    .testimonials--linen & {
        stroke: color(gray-dark);
    }

    .testimonials--green & {
        stroke: color(white);
    }
}

.testimonials__previous-image {
    transform: rotate(180deg);
}
