// stylelint-disable selector-max-type
.wysiwyg {
    h1 {
        //
    }

    h2 {
        //
    }

    h3 {
        //
    }

    h4 {
        //
    }

    h5 {
        //
    }

    h6 {
        //
    }

    p {
        //
    }

    strong {
        //
    }

    em {
        //
    }

    ul {
        //
    }

    ol {
        //
    }

    a {
        //
        &:hover,
        &:focus {
            //
        }
    }

    img {
        //
    }

    iframe,
    embed {
        //
    }
}
