// Colors
// Try to fix and use rbga(#f5d5bf, 0.24) for beige-light instead
$colors: (
    transparent: rgba(0, 0, 0, 0),
    black-overlay: rgba(0, 0, 0, 0.8),
    gray-overlay: rgba(85, 85, 85, 0.94),
    black: #000,
    white: #fff,
    snow: #faf7f2,
    linen: #fcf8f3,
    sage: #a2b093,
    sage-light: #edf0e9,
    beige: #e3ceb0,
    beige-light: #f5eee4,
    peach: #fdf7f4,
    forest-green: #6a8681,
    gray-light: #ececec,
    gray: #b7b5b5,
    gray-dark: #847f7f,
    gray-mobile-menu: #555,
    gray-secondary-menu: #dadbdb,
    gray-secondary-menu-text: #7d7a7a,
);

@function color($key) {
    @return map-get($colors, $key);
}

// Fonts
$fonts: (
    sans: Lato,
);

@function font($key) {
    @return map-get($fonts, $key);
}

// Easing (material defaults)
$eases: (
    default: cubic-bezier(0.4, 0, 0.2, 1),
    accelerate: cubic-bezier(0.4, 0, 1, 1),
    decelerate: cubic-bezier(0, 0, 0.2, 1),
);

@function ease($key: default) {
    @return map-get($eases, $key);
}

// Time
$time: (
    default: 500ms,
    fast: 250ms,
);

@function time($key: default) {
    @return map-get($time, $key);
}
