// Adhere
@mixin adhere {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Aspect Ratio
@mixin aspect-ratio($x, $y) {
    padding-top: unquote(($y / $x) * 100 + '%');
}

// Transition
@mixin transition($property, $duration: time(), $timing-function: ease()) {
    transition: {
        property: $property;
        duration: $duration;
        timing-function: $timing-function;
    }
}
