<!DOCTYPE html>
<html {{ function('language_attributes') }}>
  <head>
    <meta charset="{{ function('bloginfo', 'charset') }}">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">

    {% include "components/favicon.twig" %}

    {% if env == 'production' or env == 'prod' %}
      <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ theme.path }}/dist/css/index.css">
      {# <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ theme.path }}/dist/css/chunk-vendors.css"> #}
    {% endif %}

    {{ function('wp_head') }}
  </head>
  <body {{ function('body_class') }}>
    <div class="app" id="app">
      {% include "components/header.twig" %}
      <main class="main">
        {% block app %}{% endblock %}
          {% include "components/booker-modal.twig" %}
      </main>
      {% include "components/footer.twig" %}
    </div>

    {% if env == 'production' or env == 'prod' %}
      <script src="{{ site.url }}{{ theme.path }}/dist/js/chunk-vendors.js"></script>
      <script src="{{ site.url }}{{ theme.path }}/dist/js/index.js"></script>
    {% else %}
      <script src="http://localhost:8080/index.js"></script>
    {% endif %}

    {{ function('wp_footer') }}
  </body>
</html>
