{% import "components/macros.twig" as macros %}

<section class="about-services">
    <div class="about-services__inner">
        <h2 class="about-services__title">
            {{ post.services_title }}
        </h2>
        <div class="about-services__services">
            <ul class="about-services__services-inner">
                {% for service in post.meta('services') %}
                    <li class="about-services__service">
                        <div class="about-services__service-icon-container">
                            {% set delay = loop.index0 * 200 %}
                            {{ image(service.icon, {
                                'class': 'about-services__service-icon',
                                'sizes': '100px',
                                'data-aos': 'fade-up',
                                'data-aos-delay': delay,
                            }) }}
                        </div>
                        <h3 class="about-services__service-title">
                            {{ service.title }}
                        </h3>
                        <p class="about-services__service-copy">
                            {{ service.copy }}
                        </p>
                        {{ macros.link(service.link, 'about-services__service-link', global) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <aside class="about-serivces__callout">
            <div
                class="about-serivces__callout-inner"
                data-aos="fade-up"
                data-aos-delay="600"
                data-aos-offset="0"
            >
                <div class="about-serivces__callout-text">
                    <h3 class="about-services__callout-title">
                        {{ post.services_callout_title }}
                    </h3>
                    <p class="about-services__callout-copy">
                        {{ post.services_callout_copy }}
                    </p>
                </div>
                <div class="about-services__callout-cta-container">
                    {{ macros.link(post.meta('services_callout_cta'), 'about-services__callout-cta', global) }}
                </div>
            </div>
        </aside>
    </div>
</section>
