<section class="about-about">
    <div class="about-about__inner">
        <div
            class="about-about__main-text"
            data-aos="fade-up"
            data-aos-delay="300"
        >
            <div class="about-about__subhead">{{ post.intro_subhead }}</div>
            <h1 class="about-about__title">{{ post.intro_title }}</h1>
            <h3 class="about-about__detail-title about-about__detail-title--desktop">{{ post.intro_detail_title }}</h3>
            <p class="about-about__detail-copy about-about__detail-copy--desktop">{{ post.intro_detail_copy }}</p>
        </div>
        <div class="about-about__image-container">
            <div class="about-about__decoration-container">
                <div
                    class="about-about__decoration"
                    data-aos="fade-left"
                    data-aos-delay="600"
                ></div>
            </div>
            <div
                class="about-about__image-inner"
                data-aos="fade-up"
            >
                {{ image(post.intro_image, {
                    'class': 'about-about__image',
                    'sizes': '(min-width: 1024px) 470px, 100vw',
                }) }}
            </div>
        </div>
        <div class="about-about__secondary-text">
            <h3
                class="about-about__detail-title"
            >{{ post.intro_detail_title }}</h3>
            <p
                class="about-about__detail-copy"
            >{{ post.intro_detail_copy }}</p>
        </div>
    </div>
</section>
