{% if post.bold_message %}
    <section class="bold-message">
        <p
            class="bold-message__text"
            data-aos="fade-up"
        >
            {{ post.bold_message }}
        </p>
    </section>
{% endif %}
