<modal-container
    modal-id="booker-modal"
    class="booker-modal"
>
    <div class="booker-modal__inner">
        <div class="booker-modal__content">
            <modal-button
                modal-id="booker-modal"
                class="booker-modal__close"
            >
                <svg viewBox="0 0 27 27" xmlns:xlink="http://www.w3.org/1999/xlink" class="booker-modal__close-image">
                    <use xlink:href="{{ theme.link }}/dist/svgs/x.svg#x"></use>
                </svg>
            </modal-button>
            <div class="booker-modal__iframe-container">
                {{ global.booker_iframe }}
            </div>
        </div>
    </div>
</modal-container>
