{% if post.enable_booker_iframe %}
    <section class="booking-plugin">
        <div class="booking-plugin__iframe-container">
            {{ global.booker_iframe }}
        </div>
    </section>
{% endif %}
