{% import "components/macros.twig" as macros %}

<section class="book-session-large">
    <div class="book-session-large__outer">
        <div
            class="book-session-large__inner"
            data-aos="fade-up"
        >
            {% if post.book_session_title %}
                <h2 class="book-session-large__title">{{ post.book_session_title }}</h2>
            {% endif %}
            {% if post.book_session_copy %}
                <p class="book-session-large__copy">{{ post.book_session_copy }}</p>
            {% endif %}
            {% if post.book_session_enable_cta %}
                <div class="book-session-large__cta-container">
                    {{ macros.link(post.meta('book_session_cta'), 'book-session-large__cta', global) }}
                </div>
            {% endif %}
        </div>
        <div class="book-session-large__decoration book-session-large__decoration--left">
            <div
                class="book-session-large__decoration-inner"
                data-aos="fade-up"
                data-aos-delay="300"
            ></div>
        </div>
        <div class="book-session-large__decoration book-session-large__decoration--right">
            <div
                class="book-session-large__decoration-inner"
                data-aos="fade-left"
                data-aos-delay="300"
            ></div>
        </div>
    </div>
</section>
