{% import "components/macros.twig" as macros %}

{% if post.book_session_copy or post.book_session_button_label %}
    <section
        class="book-session"
        data-aos="fade-up"
    >
        <div class="book-session__inner">
            {% if post.book_session_copy %}
                <div class="book-session__text">{{ post.book_session_copy }}</div>
            {% endif %}
            {{ macros.link(post.meta('book_session_cta'), 'book-session__button', global) }}
        </div>
    </section>
{% endif %}
