<section class="contact">
    <div class="contact__inner">
        {% if post.contact_title %}
            <div class="contact__title">
                {{ post.contact_title }}
            </div>
        {% endif %}
        {% if post.contact_email %}
            <a
                href="mailto:{{ post.contact_email }}"
                class="contact__email"
                data-aos="fade-up"
            >{{ post.contact_email }}</a>
        {% endif %}
    </div>
</section>
