{% import "components/macros.twig" as macros %}

<section class="contact-us">
    <h1 class="contact-us__title">{{ post.custom.title }}</h1>
    <div class="contact-us__image-container">
        <div class="contact-us__image-inner">
            <div class="contact-us__decoration-container">
                <div
                    class="contact-us__decoration"
                    data-aos="fade-right"
                    data-aos-delay="600"
                ></div>
            </div>
            {{ image(post.image, {
                'class': 'contact-us__image',
                'sizes': '(min-width: 1024px) 470px, 100vw',
                'data-aos': 'fade-up',
            }) }}
        </div>
    </div>
    <div
        class="contact-us__main"
        data-aos="fade-left"
        data-aos-delay="900"
    >
        {% if post.phone_heading or post.phone %}
            <div class="contact-us__phone-container">
                <h3 class="contact-us__phone-heading">{{ post.phone_heading }}</h3>
                <a
                    href="tel:{{ post.phone }}"
                    class="contact-us__phone"
                >{{ post.phone }}</a>
            </div>
        {% endif %}
        {% if post.email_heading or post.email %}
            <div class="contact-us__email-container">
                <h3 class="contact-us__email-heading">{{ post.email_heading }}</h3>
                <a
                    href="mailto:{{ post.email }}"
                    class="contact-us__email"
                >{{ post.email }}</a>
            </div>
        {% endif %}
        {% if post.location_heading or post.location %}
            <div class="contact-us__location-container">
                <h3 class="contact-us__location-heading">{{ post.location_heading }}</h3>
                <address class="contact-us__location">{{ post.meta('location') }}</address>
                {% if post.enable_location_link %}
                    {{ macros.link(post.meta('location_link'), 'contact-us__location-link', global) }}
                {% endif %}
            </div>
        {% endif %}
        {% if post.extra_heading or post.extra_title or post.extra_copy %}
            <div class="contact-us__extra-container">
                <div class="contact-us__extra-heading">{{ post.extra_heading }}</div>
                <h3 class="contact-us__extra-title">{{ post.extra_title }}</h3>
                <p class="contact-us__extra-copy">{{ post.extra_copy }}</p>
                {% if post.enable_extra_link %}
                    {{ macros.link(post.meta('extra_link'), 'contact-us__extra-link', global) }}
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>
