{% import "components/macros.twig" as macros %}

<section class="events">
    <div class="events__inner">
        <div class="events__container">
            {% for event in events %}
                <article
                    class="event"
                    data-aos="fade-up"
                    data-aos-delay="{{ loop.index0 * 200 }}"
                    data-aos-anchor=".events__container"
                >
                    {% set date = event.date_custom %}
                    {% set link = {
                        'cta_type': event.cta_type,
                        'cta_internal_link': event.cta_internal_link,
                        'cta_external_link': event.cta_external_link,
                        'cta__file': event.cta_file,
                        'cta_new_tab': event.cta_new_tab,
                        'cta_label': event.cta_label,
                    } %}
                    <div class="event__label">{{ event.label }}</div>
                    <div class="event__inner">
                        <div class="event__date-location">
                            <div class="event__date">{{ date | date("l") }}<br>{{ date | date("F j, Y") }}</div>
                            <div class="event__location">{{ event.location | nl2br }}</div>
                        </div>
                        {% if event.image %}
                            {{ image(event.image, 'event__image') }}
                        {% endif %}
                        <div class="event__heading">{{ event.heading }}</div>
                        <div class="event__copy">{{ event.copy }}</div>
                        {{ macros.link(link, 'event__cta', global) }}
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
