{% set random_number = random() %}

{% if post.faqs %}
    <accordion-container
        tag="section"
        class="faqs"
        data-aos="fade-up"
    >
        {% for faq in post.meta('faqs') %}
            <article class="faqs__faq">
                <accordion-container-header tag="h3">
                    <accordion-container-header-button
                      controls="faq-panel-{{ random_number }}-{{ loop.index0 }}"
                      id="faq-button-{{ random_number }}-{{ loop.index0 }}"
                      class="faqs__faq-button"
                    >
                      <svg
                          viewBox="0 0 14 14"
                          class="faqs__faq-button-icon faqs__faq-button-icon--plus"
                          aria-hidden="true"
                      >
                          <use xlink:href="{{ theme.link }}/dist/svgs/plus-minus.svg#plus"></use>
                      </svg>
                      <svg
                          viewBox="0 0 14 14"
                          class="faqs__faq-button-icon faqs__faq-button-icon--minus"
                          aria-hidden="true"
                      >
                          <use xlink:href="{{ theme.link }}/dist/svgs/plus-minus.svg#minus"></use>
                      </svg>
                      <h3 class="faqs__faq-title">{{ faq.title }}</h3>
                    </accordion-container-header-button>
                </accordion-container-header>
                <accordion-container-panel
                    class="faqs__faq-copy"
                    id="faq-panel-{{ random_number }}-{{ loop.index0 }}"
                >
                    <div class="faqs__faq-copy-inner">
                        <p>{{ faq.copy }}</p>
                    </div>
                </accordion-container-panel>
            </article>
        {% endfor %}
    </accordion-container>
{% endif %}
