<link rel="apple-touch-icon" sizes="180x180" href="{{ theme.link }}/dist/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ theme.link }}/dist/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ theme.link }}/dist/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ theme.link }}/dist/favicons/site.webmanifest">
<link rel="mask-icon" href="{{ theme.link }}/dist/favicons/safari-pinned-tab.svg" color="#6a8681">
<meta name="msapplication-TileColor" content="#6a8681">
<meta name="theme-color" content="#ffffff">
