{% import "components/macros.twig" as macros %}

<section
    class="featured-links"
    data-aos="fade-up"
>
    <div class="featured-links__inner">
        <div class="featured-links__content">
            {% for link in post.meta('featured_links') %}
                <div class="featured-links__group">
                    <h3 class="featured-links__cta-title">
                        {{ link.title }}
                    </h3>
                    {{ macros.link(link.cta, 'featured-links__cta', global) }}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
