{% import "components/macros.twig" as macros %}

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__logo-container">
            {{ image(global.footer_logo, {
                'class': 'footer__logo',
                'sizes': '(min-width: 1024px) 140px, 60px'
            }) }}
        </div>
        <div class="footer__links-container">
            <ul class="footer__links">
                {% for item in footer_menu.items %}
                    <li class="footer__link-item">
                        <a
                            href="{{ item.link }}"
                            class="footer__link"
                        >{{ item.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer__column-4">
            <div class="footer__column-4-inner">
                <div class="footer__book-appointment">
                    <div
                        class="footer__book-appointment-title"
                    >{{ global.footer_book_appointment_title }}</div>
                    {{ macros.link(global.footer_book_appointment_cta, 'footer__book-appointment-button', global) }}
                </div>
                <ul class="footer__external-links">
                    {% for link in global.footer_external_links %}
                        <li class="footer__external-link-item">
                            {% set link = link | merge({
                                'cta_type': 'external_link',
                                'cta_external_link': link.url,
                                'cta_label': link.label
                            }) %}
                            {{ macros.arrow_link(link, 'footer__external-link', theme.link) }}
                        </li>
                    {% endfor %}
                </ul>
                <div class="footer__made-by">
                    <a href="https://wes.work" class="footer__made-by-link">Made By wes.work</a>
                </div>
            </div>
        </div>

        <div class="footer__column-3">
            <div class="footer__column-3-inner">
                <div class="footer__email-container">
                    <div class="footer__email-title">{{ global.footer_contact_title }}</div>
                    <a
                        href="mailto:{{ global.footer_contact_email }}"
                        class="footer__email-link"
                    >{{ global.footer_contact_email }}</a>
                </div>
                <div class="footer__mailing-list-container">
                    <div class="footer__mailing-list-title">{{ global.footer_mailing_list_title }}</div>
                    <form
                        action="https://giannadelatorre.us3.list-manage.com/subscribe/post?u=18c95d35d1f06b3556d522b36&amp;id=d551f67dd4"
                        method="post"
                        id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form"
                        target="_blank"
                        novalidate
                    >
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                <input
                                    type="email"
                                    value=""
                                    name="EMAIL"
                                    class="required email footer__mailing-list-input"
                                    id="mce-EMAIL"
                                    placeholder="email address"
                                >
                            </div>
                            <div id="mce-responses">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_18c95d35d1f06b3556d522b36_d551f67dd4" tabindex="-1" value=""></div>
                            <input type="submit" style="position: absolute; left: -5000px;" tabindex="-1"/>
                        </div>
                    </form>
                </div>
                <ul class="footer__social">
                    {% for social_item in global.social_media_services %}
                        <li class="footer__social-item">
                            <a
                                href="{{ social_item.link }}"
                                class="footer__social-link"
                                class="footer__social-link"
                                aria-label="{{ social_item.title }}"
                            >
                                {% include "components/social-icon.twig" with {
                                    'service': social_item.service,
                                    'class': 'footer__social-icon',
                                    'theme_link': theme.link,
                                } only %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
