{% import "components/macros.twig" as macros %}

<header class="header">
    <div class="header__inner">
        <a href="/" class="header__home-link">
            {{ image(global.header_logo, {
                'class': 'header__home-logo',
                'sizes': '200px'
            }) }}
        </a>
        <modal-button
            class="header__hamburger-button"
            modal-id="mobile-menu"
        ></modal-button>
        <modal-container
            modal-id="mobile-menu"
            animation-type="slideOut"
            class="header__mobile-menu-container"
        >
            <modal-button
                modal-id="mobile-menu"
                class="header__mobile-menu-close-button"
            >
                <svg
                    viewBox="0 0 27 27"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    class="header__mobile-menu-close-image"
                >
                    <use xlink:href="{{ theme.link }}/dist/svgs/x.svg#x"></use>
                </svg>
            </modal-button>
            {{ image(global.header_logo, {
                'class': 'header__mobile-logo',
                'sizes': '200px'
            }) }}
            <nav class="header__nav">
                <ul class="header__nav-items">
                    {% for item in header_menu.items %}
                        <li class="header__nav-item">
                            <a
                                href="{{ item.link }}"
                                class="header__nav-link {% if item.children %}header__nav-link--children{% endif %}"
                            >{{ item.title }}</a>
                            {% if item.children %}
                                <disclosure-button
                                    disclosure-id="sublist-{{ loop.index0 }}"
                                    key="sublist-button-{{ loop.index0 }}"
                                    class="header__nav-link-button"
                                >
                                    <svg
                                        viewBox="0 0 27 37"
                                        preserveAspectRatio="xMaxYMid"
                                        class="header__nav-link-button-image"
                                    >
                                        <use xlink:href="{{ theme.link }}/dist/svgs/chevron.svg#chevron"></use>
                                    </svg>

                                </disclosure-button>
                                <disclosure-content
                                    disclosure-id="sublist-{{ loop.index0 }}"
                                    key="sublist-content-{{ loop.index0 }}"
                                    class="header__nav-sublist-container"
                                    active-animation="AccordionContainerTransition"
                                >
                                    <ul class="header__nav-sublist">
                                        {% for child in item.children %}
                                            <li class="header__nav-sublist-item">
                                                <a
                                                    href="{{ child.link }}"
                                                    class="header__nav-sublist-link"
                                                >{{ child.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </disclosure-content>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {{ macros.link(global.header_book_cta, 'header__mobile-book-cta', global) }}
            <ul class="header__social">
                {% for social_item in global.social_media_services %}
                    <li class="header__social-item">
                        <a
                            href="{{ social_item.link }}"
                            class="header__social-link"
                            aria-label="{{ social_item.title }}"
                        >
                            {% include "components/social-icon.twig" with {
                                'service': social_item.service,
                                'class': 'header__social-icon',
                                'theme_link': theme.link,
                            } only %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </modal-container>
        <nav class="header__desktop-nav">
            <ul class="header__desktop-nav-links">
                {% for item in header_menu.items %}
                    <li class="header__desktop-nav-item {{ item.classes|join(' ') }}">
                        <a
                            href="{{ item.link }}"
                            class="header__desktop-nav-link"
                        >
                            <div class="header__desktop-nav-link-text">
                                {{ item.title }}
                            </div>
                        </a>
                        {% if item.children %}
                            <div class="header__desktop-secondary-links-container">
                                <div class="header__desktop-secondary-links-inner">
                                    <ul class="header__desktop-secondary-links">
                                        {% for child in item.children %}
                                            <li class="header__desktop-secondary-item {{ child.classes|join(' ') }}">
                                                <a
                                                    href="{{ child.link }}"
                                                    class="header__desktop-secondary-link"
                                                >{{ child.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                {% endfor %}
                <li class="header__desktop-nav-item">
                    {{ macros.link(global.header_book_cta, 'header__desktop-book-cta', global) }}
                </li>
            </ul>
        </nav>
    </div>
</header>
