{% import "components/macros.twig" as macros %}

<section class="home-services">
    {% if post.services_title %}
        <div class="home-services__title-container">
            <h2 class="home-services__title">{{ post.services_title }}</h2>
        </div>
    {% endif %}
    {% for service in post.meta('services') %}
        <article class="home-service">
            {% if service.image %}
                <figure class="home-service__image-container">
                    {% if loop.index0 % 4 == 0 %}
                        <div
                            class="home-service__decoration-container"
                            data-aos="fade-right"
                            data-aos-delay="300"
                        >
                            <img
                                src="{{ theme.link }}/dist/svgs/semi-circle.svg"
                                class="home-service__decoration home-service__decoration--{{ loop.index }}"
                            >
                        </div>
                    {% elseif loop.index0 % 4 == 1 %}
                        <div
                            class="home-service__decoration-container"
                            data-aos="fade-left"
                            data-aos-delay="300"
                        >
                            <img
                                src="{{ theme.link }}/dist/svgs/quarter-circle-partial.svg"
                                class="home-service__decoration home-service__decoration--{{ loop.index }}"
                            >
                        </div>
                    {% elseif loop.index0 % 4 == 2 %}
                        <div
                            class="home-service__decoration-container"
                            data-aos="fade-right"
                            data-aos-delay="300"
                        >
                            <img
                                src="{{ theme.link }}/dist/svgs/semi-circle.svg"
                                class="home-service__decoration home-service__decoration--{{ loop.index }}"
                            >
                        </div>
                    {% endif %}
                    <div class="home-service__image-inner">
                        {{ image(service.image, {
                            'class': 'home-service__image',
                            'sizes': '(min-width: 1024px) 470px, 100vw',
                            'data-aos': 'fade-up',
                        }) }}
                    </div>
                    {% if loop.index0 % 4 == 3 %}
                        <div
                            class="home-service__decoration-container"
                            data-aos="fade-right"
                            data-aos-delay="300"
                            data-aos-offset="150"
                        >
                            <img
                                src="{{ theme.link }}/dist/svgs/quarter-circle-partial-alt.svg"
                                class="home-service__decoration home-service__decoration--{{ loop.index }}"
                            >
                        </div>
                    {% endif %}
                    {% if service.image_caption %}
                        <figcaption class="home-service__image-caption">{{ service.image_caption }}</figcaption>
                    {% endif %}
                </figure>
            {% endif %}
            <div class="home-service__content">
                {% if service.icon %}
                    <div class="home-service__icon-container">
                        {{ image(service.icon, {
                            'class': 'home-service__icon',
                            'sizes': '100px',
                            'data-aos': 'fade-up',
                            'data-aos-delay': '600',
                            'data-aos-easing': 'ease-out-quart',
                        }) }}
                    </div>
                {% endif %}
                {% if service.title %}
                    <h3 class="home-service__title">{{ service.title }}</h3>
                {% endif %}
                {% if service.copy %}
                    <p class="home-service__copy">{{ service.copy }}</p>
                {% endif %}
                {% if service.enable_cta %}
                    <div class="home-service__link-container">
                        {{ macros.link(service.cta, 'home-service__link', global) }}
                    </div>
                {% endif %}
                {% if service.enable_callout %}
                    <div class="home-service__callout">
                        <div class="home-service__callout-inner">
                            {{ image(service.callout_image, {
                                'class': 'home-service__callout-image',
                                'sizes': '(min-width: 1024px) 130px, 100vw',
                            }) }}
                            <div class="home-service__callout-content">
                                {% if service.callout_copy %}
                                    <p class="home-service__callout-copy">{{ service.callout_copy }}</p>
                                {% endif %}
                                {% if service.enable_callout_cta %}
                                    {{ macros.link(service.callout_cta, 'home-service__callout-cta', global) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </article>
    {% endfor %}
</section>
