{% import "components/macros.twig" as macros %}

<section class="home-about">
    <div
        class="home-about__decoration-container"
        data-aos="fade-left"
    >
        <img
            src="{{ theme.link }}/dist/svgs/semi-circle-partial.svg"
            class="home-about__decoration"
        >
    </div>
    <div class="home-about__outer">
        <div class="home-about__inner">
            <div class="home-about__inner-inner">
                <div class="home-about__images-container">
                    <div class="home-about__images">
                        <div class="home-about__images-inner">
                            {% if post.about_primary_image %}
                                <div class="home-about__primary-image-container">
                                        {{ image(post.about_primary_image, {
                                            'class': 'home-about__primary-image',
                                            'sizes': '(min-width: 1024px) 385px, 90vw',
                                            'data-aos': 'fade-up',
                                            'data-aos-delay': '300',
                                        }) }}
                                </div>
                            {% endif %}
                            {% if post.about_secondary_image %}
                                <div class="home-about__secondary-image-container">
                                    {{ image(post.about_secondary_image, {
                                        'class': 'home-about__secondary-image',
                                        'sizes': '(min-width: 1024px) 290px, 67vw',
                                        'data-aos': 'fade',
                                        'data-aos-delay': '800',
                                        'data-aos-anchor': '.home-about__primary-image-container',
                                        'data-aos-duration': '700',
                                    }) }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="home-about__text">
                    <div class="home-about__text-inner">
                        {% if post.about_subhead %}
                            <div class="home-about__subhead">{{ post.about_subhead }}</div>
                        {% endif %}
                        <h2 class="home-about__title">{{ post.about_title }}</h2>
                        {% if post.about_copy %}
                            <div class="home-about__copy">{{ post.about_copy }}</div>
                        {% endif %}
                        {% if post.about_list %}
                            <img src="{{ theme.link }}/dist/svgs/squiggle.svg" class="home-about__squiggle">
                            <ul class="home-about__list">
                                {% for item in post.meta('about_list') %}
                                    <li class="home-about__list-item">{{ item.copy }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if post.about_enable_cta %}
                            {{ macros.link(post.meta('about_cta'), 'home-about__cta', global) }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
