<section class="home-hero">
    <div class="home-hero__image-container">
        <div class="home-hero__image-container-inner">
            {{ image(post.hero_image, {
                'class': 'home-hero__image',
                'data-aos': 'fade-up',
            }) }}
        </div>
    </div>
    {% if post.hero_copy %}
        <h1
            class="home-hero__copy"
            data-aos="fade-up"
            data-aos-delay="300"
        >{{ post.hero_copy }}</h1>
    {% endif %}
    <div class="home-hero__circles-container">
        <div
            class="home-hero__circles"
            data-aos="fade"
            data-aos-delay="600"
            data-aos-duration="1000"
        ></div>
    </div>
</section>
