<section class="interior-hero">
    {{ image(post.hero_image, 'interior-hero__image') }}
    <div class="interior-hero__text">
        {% if post.hero_title %}
            <h1
                class="interior-hero__title"
                data-aos="fade-up"
            >{{ post.hero_title }}</h1>
        {% endif %}
        {% if post.hero_copy %}
            <p
                class="interior-hero__copy"
                data-aos="fade-up"
                data-aos-delay="200"
            >{{ post.hero_copy }}</p>
        {% endif %}
    </div>
    {% if post.hero_icon %}
        <div class="interior-hero__icon-container">
            <div
                data-aos="fade-up"
                data-aos-delay="400"
            >
                {{ image(post.hero_icon, {
                    'class': 'interior-hero__icon',
                }) }}
            </div>
        </div>
    {% endif %}
</section>
