{% if post.italic_message_subhead or post.italic_message_copy %}
    <section
        class="italic-message"
        data-aos="fade-up"
    >
        {% if post.italic_message_subhead %}
            <div class="italic-message__subhead">{{ post.italic_message_subhead }}</div>
        {% endif %}
        <p class="italic-message__copy">{{ post.italic_message_copy }}</p>
    </section>
{% endif %}
