{% macro link(link, class, global) %}
    {% if link.cta_type == 'booking_modal' %}
        <modal-button
            class="{{ class }}"
            modal-id="booker-modal"
        >{{ link.cta_label }}</modal-button>
    {% else %}
        <a
            class="{{ class }}"
            {% if link.cta_type == 'internal_link' %}
                href="{{ link.cta_internal_link }}"
            {% elseif link.cta_type == 'external_link' %}
                href="{{ link.cta_external_link }}"
            {% elseif link.cta_type == 'file' %}
                href="{{ link.cta_file }}"
            {% elseif link.cta_type == 'booking_url' %}
                href="{{ global.booker_url }}"
                {{ global.booker_url }}
            {% endif %}
            {% if link.cta_new_tab %}
                target="_blank"
            {% endif %}
        >{{ link.cta_label }}</a>
    {% endif %}
{% endmacro %}

{% macro arrow_link(link, class, theme_link) %}
    <a
        class="{{ class }}"
        {% if link.cta_type == 'internal_link' %}
            href="{{ link.cta_internal_link }}"
        {% elseif link.cta_type == 'external_link' %}
            href="{{ link.cta_external_link }}"
        {% elseif link.cta_type == 'file' %}
            href="{{ link.cta_file }}"
        {% elseif link.cta_type == 'booking_url' %}
            href="{{ global.booker_url }}"
        {% endif %}
        {% if link.cta_new_tab %}
            target="_blank"
        {% endif %}
    >
        <span class="{{ class }}-text">{{ link.cta_label }}</span>
        <svg class="{{ class }}-arrow">
            <use xlink:href="{{ theme_link }}/dist/svgs/arrow.svg#arrow"></use>
        </svg>
    </a>
{% endmacro %}
