<section class="pricing">
    <div class="pricing__title-container">
        {% if post.pricing_title %}
            <h1 class="pricing__title">
                {{ post.pricing_title }}
            </h1>
        {% endif %}
    </div>
    {% for pricing_row in post.meta('pricing_rows') %}
        <div class="pricing__row">
            {% if not loop.first %}
                <div class="pricing__block-divider-container">
                    <hr class="pricing__block-divider">
                </div>
            {% endif %}
            {% if pricing_row.title %}
                <h2
                    class="pricing__row-title"
                    data-aos="fade-up"
                >{{ pricing_row.title }}</h2>
            {% endif %}
            <div class="pricing__blocks">
                {% for block in pricing_row.blocks %}
                    <div
                        class="pricing__block"
                        data-aos="fade-up"
                        data-aos-delay="300"
                    >
                        <div class="pricing__block-inner">
                            {% if block.title %}
                                <h3 class="pricing__block-title">
                                    {{ block.title }}
                                </h3>
                            {% endif %}
                            {% if block.price_subhead %}
                                <div class="pricing__block-price-subhead">
                                    {{ block.price_subhead }}
                                </div>
                            {% endif %}
                            {% if block.price %}
                                <div class="pricing__block-price">
                                    {{ block.price }}
                                </div>
                            {% endif %}
                            {% if block.copy %}
                                <p class="pricing__block-copy">
                                    {{ block.copy }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</section>
