<section class="promotion">
    <div class="promotion__image-container">
        <div class="promotion__decoration-container">
            <div
                class="promotion__decoration"
                data-aos="fade-right"
                data-aos-delay="600"
            ></div>
        </div>
        {{ image(post.promotion_image, {
            'class': 'promotion__image',
            'sizes': '(min-width: 1024px) 470px, 100vw',
            'data-aos': 'fade-up',
        }) }}
    </div>
    <div class="promotion__text">
        <div class="promotion__logo-container">
            {{ image(post.promotion_logo, {
                'class': 'promotion__logo',
                'sizes': '(min-width: 1024px) 250px, 50vw',
                'data-aos': 'fade-up',
                'data-aos-delay': '300',
            }) }}
        </div>
        <div class="promotion__subhead">
            {{ post.promotion_subhead }}
        </div>
        <p class="promotion__copy">
            {{ post.promotion_copy }}
        </p>
        <div class="promotion__link-container">
            <a
                href="{{ post.promotion_link_url }}"
                class="promotion__link"
                target="_blank"
            >{{ post.promotion_link_label }}</a>
        </div>
    </div>
</section>
