<section class="qualifications">
    <article class="qualifications__primary">
        <div
            class="qualifications__primary-inner"
            data-aos="fade-up"
        >
            <h2 class="qualifications__primary-title">
                {{ post.primary_qualifications_title }}
            </h2>
            <ul class="qualifications__primary-list">
                {% for qualification in post.meta('primary_qualifications') %}
                    <li class="qualifications__primary-item">
                        {{ qualification.copy }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </article>
    <article class="qualifications__secondary">
        <div
            class="qualifications__secondary-inner"
            data-aos="fade-up"
            data-aos-delay="300"
        >
            <h2 class="qualifications__secondary-title">
                {{ post.secondary_qualifications_title }}
            </h2>
            <div class="qualifications__secondary-qualifications">
                {{ post.secondary_qualifications | nl2br }}
            </div>
        </div>
    </article>
</section>
