 <section class="service-details">
    {% for row in post.meta('service_detail_rows') %}
        {% if row.acf_fc_layout == 'primary_image_right' or row.acf_fc_layout == 'primary_image_left' %}
            <div
                {% if row.acf_fc_layout == 'primary_image_right' %}
                    class="service-detail service-detail--pir"
                {% elseif row.acf_fc_layout == 'primary_image_left' %}
                    class="service-detail service-detail--pil"
                {% endif %}
            >
                {% if row.image %}
                    <figure class="service-detail__image-container">
                        {% if row.acf_fc_layout == 'primary_image_right' %}
                            <div class="service-detail__decorative-image-container">
                                <img
                                    src="{{ theme.link }}/dist/svgs/quarter-circle-partial.svg"
                                    class="service-detail__decorative-image"
                                    data-aos="fade-left"
                                    data-aos-delay="300"
                                >
                            </div>
                        {% elseif row.acf_fc_layout == 'primary_image_left' %}
                            <div class="service-detail__decorative-image-container">
                                <img
                                    src="{{ theme.link }}/dist/svgs/semi-circle.svg"
                                    class="service-detail__decorative-image"
                                    data-aos="fade-down"
                                    data-aos-delay="300"
                                >
                            </div>
                        {% endif %}
                        <div class="service-detail__image-inner">
                            {{ image(row.image, {
                                'class': 'service-detail__image',
                                'sizes': '(min-width: 1024px) 470px, 100vw',
                                'data-aos': 'fade-up',
                            }) }}
                        </div>
                        {% if row.image_caption %}
                            <figcaption class="service-detail__image-caption">
                                {{ row.image_caption }}
                            </figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                <div class="service-detail__text">
                    {% if row.title %}
                        <h2 class="service-detail__title">
                            {{ row.title }}
                        </h2>
                    {% endif %}
                    {% if row.italic_copy %}
                        <p class="service-detail__italic-copy">
                            {{ row.italic_copy }}
                        </p>
                    {% endif %}
                    {% if row.copy %}
                        <p class="service-detail__copy">
                            {{ row.copy }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% elseif row.acf_fc_layout == 'double_image_left' %}
            <div class="service-detail service-detail--dil">
                <div class="service-detail__images">
                    {% if row.portrait_image %}
                        <div class="service-detail__portrait-image-container">
                            {{ image(row.portrait_image, {
                                'class': 'service-detail__portrait-image',
                                'sizes': '(min-width: 1024px) 285px, 50vw',
                                'data-aos': 'fade',
                                'data-aos-delay': '300',
                            }) }}
                        </div>
                    {% endif %}
                    {% if row.landscape_image %}
                        <div class="service-detail__landscape-image-container">
                            {{ image(row.landscape_image, {
                                'class': 'service-detail__landscape-image',
                                'sizes': '(min-width: 1024px) 430px, 75vw',
                                'data-aos': 'fade-right',
                            }) }}
                        </div>
                    {% endif %}
                </div>
                <div class="service-detail__text">
                    {% if row.title %}
                        <h2 class="service-detail__title">
                            {{ row.title }}
                        </h2>
                    {% endif %}
                    {% if row.italic_copy %}
                        <p class="service-detail__italic-copy">
                            {{ row.italic_copy }}
                        </p>
                    {% endif %}
                    {% if row.copy %}
                        <p class="service-detail__copy">
                            {{ row.copy }}
                        </p>
                    {% endif %}
                </div>
            </div>
        {% elseif row.acf_fc_layout == 'double_image_right' %}
            <div class="service-detail service-detail--dir">
                <div class="service-detail__portrait-image-container">
                    <div class="service-detail__portrait-image-inner">
                        <div class="service-detail__decorative-image-container">
                            <img
                                src="{{ theme.link }}/dist/svgs/semi-circle.svg"
                                class="service-detail__decorative-image"
                                data-aos="fade"
                                data-aos-delay="600"
                            >
                        </div>
                        {% if row.portrait_image %}
                            {{ image(row.portrait_image, {
                                'class': 'service-detail__portrait-image',
                                'sizes': '(min-width: 1024px) 285px, 50vw',
                                'data-aos': 'fade-left',
                            }) }}
                        {% endif %}
                    </div>
                </div>
                <div class="service-detail__left">
                    {% if row.landscape_image %}
                        <figure class="service-detail__landscape-image-container">
                            <div class="service-detail__landscape-image-inner">
                                {{ image(row.landscape_image, {
                                    'class': 'service-detail__landscape-image',
                                    'sizes': '(min-width: 1024px) 480px, 75vw',
                                    'data-aos': 'fade',
                                    'data-aos-delay': '300',
                                }) }}
                            </div>
                            {% if row.landscape_image_caption %}
                                <figcaption class="service-detail__landscape-image-caption">
                                    {{ row.landscape_image_caption }}
                                </figcaption>
                            {% endif %}
                        </figure>
                    {% endif %}
                    <div class="service-detail__text">
                        {% if row.title %}
                            <h2 class="service-detail__title">
                                {{ row.title }}
                            </h2>
                        {% endif %}
                        {% if row.italic_copy %}
                            <p class="service-detail__italic-copy">
                                {{ row.italic_copy }}
                            </p>
                        {% endif %}
                        {% if row.copy %}
                            <p class="service-detail__copy">
                                {{ row.copy }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</section>
