 <section class="service-details">
    <div class="service-detail service-detail--pil">
        {% if post.about_image %}
            <figure class="service-detail__image-container">
                    <div class="service-detail__decorative-image-container">
                        <img
                            src="{{ theme.link }}/dist/svgs/semi-circle.svg"
                            class="service-detail__decorative-image"
                            data-aos="fade-down"
                            data-aos-delay="300"
                        >
                    </div>
                <div class="service-detail__image-inner">
                    {{ image(post.about_image, {
                        'class': 'service-detail__image',
                        'sizes': '(min-width: 1024px) 470px, 100vw',
                        'data-aos': 'fade-up',
                    }) }}
                </div>
            </figure>
        {% endif %}
        <div class="service-detail__text">
            {% if post.about_title %}
                <h2 class="service-detail__title">
                    {{ post.about_title }}
                </h2>
            {% endif %}
            {% if post.about_italic_copy %}
                <p class="service-detail__italic-copy">
                    {{ post.about_italic_copy }}
                </p>
            {% endif %}
            {% if post.about_copy %}
                <p class="service-detail__copy">
                    {{ post.meta('about_copy') }}
                </p>
            {% endif %}
        </div>
    </div>
</section>
