<svg
    {% if service == 'pinterest' %}
        viewBox="0 0 30 30"
    {% elseif service == 'instagram' or service == 'yelp' %}
        viewBox="0 0 24 24"
    {% endif %}
    class="{{ class }}"
>
    <use xlink:href="{{ theme_link }}/dist/svgs/{{ service }}-icon.svg#icon"></use>
</svg>
