{% if post.testimonials %}
    <carousel-container
        tag="section"
        class="testimonials testimonials--{{ post.testimonials_style }}"
        data-aos="fade-up"
    >
        <div class="testimonials__outer">
            <div class="testimonials__inner">
                <div class="testimonials__content">
                    {% if post.testimonials_title %}
                        <h2 class="testimonials__title">
                            {{ post.testimonials_title }}
                        </h2>
                    {% endif %}
                    <ul class="testimonials__testimonials">
                        {% for item in post.meta('testimonials') %}
                            <carousel-container-item
                                :key="{{ loop.index0 }}"
                                tag="blockquote"
                                class="testimonials__testimonial"
                            >
                                <p class="testimonials__quote-text">
                                    “{{ item.quote }}”
                                </p>
                                <footer class="testimonials__quotee">
                                    {{ item.quotee }}
                                </footer>
                            </carousel-container-item>
                        {% endfor %}
                    </ul>
                    <div class="testimonials__indicators">
                        {% for item in post.meta('testimonials') %}
                            <carousel-container-control
                                class="testimonials__indicator"
                                :key="{{ loop.index0 }}"
                            ></carousel-container-control>
                        {% endfor %}
                    </div>
                    <carousel-container-button
                        class="testimonials__previous"
                        direction="previous"
                    >
                        <svg viewBox="0 0 27 37" class="testimonials__previous-image">
                            <use xlink:href="{{ theme.link }}/dist/svgs/chevron.svg#chevron"></use>
                        </svg>
                    </carousel-container-button>
                    <carousel-container-button
                        class="testimonials__next"
                        direction="next"
                    >
                        <svg viewBox="0 0 27 37" class="testimonials__next-image">
                            <use xlink:href="{{ theme.link }}/dist/svgs/chevron.svg#chevron"></use>
                        </svg>
                    </carousel-container-button>
                </div>
            </div>
        </div>
    </carousel-container>
{% endif %}
