{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/about-about.twig" %}
    {% include "components/italic-message.twig" %}
    {% include "components/service-detail-pil.twig" %}
    {% include "components/qualifications.twig" %}
    {% include "components/about-services.twig" %}
    {% include "components/promotion.twig" %}
    {% include "components/testimonials.twig" %}
{% endblock %}
