{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/interior-hero.twig" %}
    {% include "components/italic-message.twig" %}
    {% include "components/events.twig" %}
{% endblock %}
