{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/home-hero.twig" %}
    {% include "components/book-session.twig" %}
    {% include "components/italic-message.twig" %}
    {% include "components/home-services.twig" %}
    {% include "components/home-about.twig" %}
{% endblock %}
