{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/interior-hero.twig" %}
    {% include "components/faqs.twig" %}
    {% include "components/featured-links.twig" %}
{% endblock %}
