{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/pricing.twig" %}
    {% include "components/booking-plugin.twig" %}
    {% include "components/contact.twig" %}
{% endblock %}
