{% extends 'layouts/main.twig' %}

{% block app %}
    {% include "components/interior-hero.twig" %}
    {% include "components/italic-message.twig" %}
    {% include "components/service-details.twig" %}
    {% include "components/testimonials.twig" %}
    {% include "components/book-session-large.twig" %}
{% endblock %}
