@mixin link($color: color(sage), $hover-color: color(forest-green), $has-underline: true, $has-arrow: false) {
    @include subhead-text;
    position: relative;
    display: inline-block;
    height: 20px;
    color: $color;
    text-transform: uppercase;

    @if $has-underline {
        &::after {
            @include transition(transform, time(fast));
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $color;
            content: '';
            transform: scale(1, 1);
        }

        &:hover,
        &:focus {
            &::after {
                transform: scale(0, 1);
            }
        }
    } @else {
        @include transition(color, time(fast));

        &:hover,
        &:focus {
            color: $hover-color;
        }
    }

    @if $has-arrow {
        @include cta-arrow($color, $hover-color);

        &::after {
            transition-duration: time(fast);
            transform: translate(0, 1px);
        }
    }
}

@mixin cta-core {
    @include subhead-text;
    padding: 15px 20px;
    border-width: 1px;
    border-style: solid;
    text-transform: uppercase;
}

@mixin cta($color, $hover-color, $has-arrow: false) {
    @if $has-arrow {
        @include cta-arrow($color, $hover-color);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        @include breakpoint(medium) {
            width: auto;
        }
    } @else {
        display: inline-block;
        width: 160px;
    }

    @include cta-core;
    @include transition(color);
    @include transition(background-color);
    color: $color;
    border-color: $color;

    &:hover,
    &:focus {
        color: $hover-color;
        background-color: $color;
    }
}

@mixin cta-arrow($color, $hover-color) {
    &::after {
        // @include transition(background-image);
        transition-property: background-image;
        content: '';
        display: inline-block;
        width: 20px;
        height: 11px;
        margin-left: 10px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.978 11'><path d='M13.453.165a.85.85,0,0,0-1-.007l-.01.007a.476.476,0,0,0,0,.781l5.106,4H.705a.641.641,0,0,0-.7.547V5.5a.644.644,0,0,0,.705.56H17.552l-5.106,3.99a.483.483,0,0,0,0,.789.851.851,0,0,0,1,.007l.009-.007L19.767,5.89a.464.464,0,0,0,.016-.767l-.016-.013Z' fill='%23#{str-slice(inspect($color), 2)}'/></svg>");
    }

    &:hover,
    &:focus {
        &::after {
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 19.978 11'><path d='M13.453.165a.85.85,0,0,0-1-.007l-.01.007a.476.476,0,0,0,0,.781l5.106,4H.705a.641.641,0,0,0-.7.547V5.5a.644.644,0,0,0,.705.56H17.552l-5.106,3.99a.483.483,0,0,0,0,.789.851.851,0,0,0,1,.007l.009-.007L19.767,5.89a.464.464,0,0,0,.016-.767l-.016-.013Z' fill='%23#{str-slice(inspect($hover-color), 2)}'/></svg>");
        }
    }
}
