// Lato
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-300.woff2') format('woff2'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 300;
    src: local('Lato Light Italic'), local('Lato-LightItalic'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-300italic.woff2')
            format('woff2'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-300italic.woff')
            format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-regular.woff2')
            format('woff2'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-regular.woff')
            format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-700.woff2') format('woff2'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-italic.woff2')
            format('woff2'),
        url('#{$dist-path}/fonts/lato/lato-v15-latin-italic.woff')
            format('woff');
}
