@mixin primary-title-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: normal;
    font-size: rem(30);
    line-height: rem(36);
    letter-spacing: rem(2);

    @include breakpoint(large) {
        font-size: rem(40);
        line-height: rem(48);
    }
}

@mixin secondary-title-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: normal;
    font-size: rem(20);
    line-height: rem(26);
    letter-spacing: rem(5);

    @include breakpoint(large) {
        font-size: rem(24);
        line-height: rem(32);
    }
}

@mixin tertiary-title-text {
    font-family: font(sans);
    font-weight: 700;
    font-style: normal;
    font-size: rem(16);
    line-height: rem(21);
    letter-spacing: rem(3);
}

@mixin subhead-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: normal;
    font-size: rem(11);
    line-height: rem(16);
    letter-spacing: rem(1.5);
}

@mixin body-primary-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: normal;
    font-size: rem(16);
    line-height: rem(26);
}

@mixin body-secondary-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: italic;
    font-size: rem(20);
    line-height: rem(27);
}

@mixin quote-text {
    font-family: font(sans);
    font-weight: 300;
    font-style: italic;
    font-size: rem(33);
    line-height: rem(48);
    letter-spacing: rem(0.5);
}

@mixin accordion-title-text {
    font-family: font(sans);
    font-weight: 700;
    font-style: normal;
    font-size: rem(14);
    line-height: rem(31);
    letter-spacing: rem(6);
}

@mixin accordion-copy-text {
    font-family: font(sans);
    font-weight: 300;
    font-style: normal;
    font-size: rem(14);
    line-height: rem(25);
    letter-spacing: rem(0.5);
}

@mixin footer-label-text {
    font-family: font(sans);
    font-weight: 400;
    font-style: italic;
    font-size: rem(11);
    line-height: 1;
    letter-spacing: rem(0.5);
}
